@mixin width-container {
  text-align: left;
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  //outline: 1px solid red;
}

@mixin clearfix {
  &::after {
    content: "";

    display: table;
    clear: both;
  }
}

@mixin about-us-icon($url) {
  content: "";
  position: absolute;
  width: 55px;
  height: 40px;
  top: -2px;
  left: -2px;
  background: url($url) no-repeat;
  background-position: 50% 50%;
}

@mixin form-element($top, $left) {
  content: "";
  display: block;
  position: absolute;
  top: $top;
  left: $left;
  height: 36px;
  width: 36px;
  border: 2px solid $dark-gray;
}
