@mixin width-container {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;

  text-align: left;
}

@mixin clearfix {
  &::after {
    display: table;
    clear: both;

    content: "";
  }
}

@mixin visuallyhidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
}

@mixin form-element($top, $left) {
  position: absolute;
  top: $top;
  left: $left;

  display: block;
  width: 36px;
  height: 36px;

  border: 2px solid $dark-gray;

  content: "";
}
