.about-us {
  @include width-container;

  padding: 0 30px;
}
.about-us__list {
  padding: 0;

  font-weight: bold;
  font-size: 17px;
  list-style: none;
  text-align: left;
}
.about-us__title {
  margin-top: 45px;
}
.about-us__caption {
  margin: 0;

  line-height: 21px;
}
.about-us__item::before {
  position: absolute;
  top: -6px;
  left: -6px;

  width: 55px;
  height: 40px;

  background-position: 50% 50%;
  background-repeat: no-repeat;

  content: "";
}
.about-us__item {
  position: relative;

  padding-top: 50px;
  margin-bottom: 31px;

  &--1::before {
    background-image: url("../img/icon-feature-1.svg");
  }
  &--2::before {
    background-image: url("../img/icon-feature-2.svg");
  }
  &--3::before {
    background-image: url("../img/icon-feature-3.svg");
  }
  &--4::before {
    background-image: url("../img/icon-feature-4.svg");
  }
  &--5::before {
    background-image: url("../img/icon-feature-5.svg");
  }
  &--6::before {
    background-image: url("../img/icon-feature-6.svg");
  }
}


@media (min-width: 768px) {

  .about-us {
    width: 768px;
    margin-top: 10px;
    padding: 0 50px;
    padding-top: 58px;
  }
  .about-us__title {
    margin-top: 0;
    margin-bottom: 48px;

    letter-spacing: -0.3px;
  }


  .about-us__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .about-us__caption {
    line-height: 23px;
    letter-spacing: 0.2px;
  }
  .about-us__item {
    width: 334px;
    margin-bottom: 51px;
    padding-top: 58px;

    font-size: 20px;

    // changing orders to set elements in two columns
    // without setting limited heigh for block
    &--1 {
      order: 1;
    }
    &--2 {
      order: 3;
    }
    &--3 {
      order: 5;
    }
    &--4 {
      order: 2;
    }
    &--5 {
      order: 4;
    }
    &--6 {
      order: 6;
    }
  }
.about-us__item:before {
  top: 0px;
  left: -5px;
}

} // ends tablet styles

@media (min-width: 1150px) {

  .about-us {
    width: 1150px;
    padding-top: 70px;
    padding-right: 225px;
    padding-left: 225px;
  }
  .about-us__item {
    width: 350px;
    padding-top: 55px;
  }
  .about-us__caption {
    line-height: 24px;
  }

} //ends desktop styles
