.button {
  font-weight: bold;
  background: none;
  border: 2px solid $dark-gray;
}
.button--big {
  width: 100%;
  min-height: 52px;
  font-size: 17px;
  text-transform: uppercase;
  color: $dark-gray;
  margin: 30px 0;
}
