.catalog-item {
  padding-top: 31px;
}
.catalog-item__image{
  margin-bottom: -3px;
  width: 260px;
  height: 195px;
}
.catalog-item__info {
  border: 1px solid $light-gray;
  padding: 30px;
  padding-top: 26px;
  padding-left: 28px;
  padding-right: 25px;
  margin-top: 0;
}


.catalog-item__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  padding-bottom: 8px;
}
.catalog-item__description {
  font-size: 13px;
  line-height: 24px;
  color: $dark-gray;
  margin: 0;
}
.catalog-item__description--narrow {
  margin-left: 5px;
  padding-right: 15px;
}


.catalog-item__wrapper {
  border-top: 1px solid $light-gray;
  padding-top: 23px;
  margin-top: 22px;
}
.catalog-item__price {
  font-weight: bold;
  font-size: 15px;
}
.catalog-item__to-cart-link {
  float: right;
}


.catalog-item__title--video {
  padding: 23px 0;
  padding-left: 90px;
  border: 1px solid $light-gray;
}
.catalog-item__video-screen {
  background: url("../img/video-mobile@1x.jpg") no-repeat 50% 50%;
  background-size: cover;
  margin-bottom: -3px;
  height: 100%;
  min-height: 150px;
  width: 100%;
}
.catalog-item__button {
  margin-top: 25px;
  margin-bottom: 0px;
  margin-left: 5px;
  width: 192px;
}

@media (min-width: 768px) {

  .catalog-item__title {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 5px;
  }
  .catalog-item__description {
    font-size: 15px;
    line-height: 30px;
  }
  .catalog-item__price {
    font-size: 17px;
    line-height: 24px;
  }

  .catalog-item__video-screen {
    background: url("../img/video-mobile@1x.jpg") no-repeat 50% 50%;
    height: 100%;
    width: 668px;
  }

}

@media (min-width: 768px) and (max-width: 1149px) {

  .catalog-item {
    display: flex;
    flex-flow: row;
    align-items: stretch;
    padding: 0;
    margin-top: 55px;
  }


  .catalog-item__image {
    width: 334px;
    min-height: 334px;
    margin-bottom: 0;
    margin-right: -1px;
  }
  .catalog-item__info {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 334px;
    padding-bottom: 25px;
  }
  .catalog-item__title {
    padding-right: 40px;
  }
  .catalog-item__wrapper {
    margin-top: auto;
    padding-left: 4px;
    padding-right: 4px;
  }


  .catalog-item--production-video {
    flex-direction: column;
    margin-bottom: 65px;
    margin-top: 52px;
  }
  .catalog-item__video {
    order: -1;
    width: 100%;
    min-height: 455px;
    margin: 0;
  }
  .catalog-item__video-screen {
    background: url("../img/video-mobile@1x.jpg") no-repeat 50% 50%;
    background-size: cover;
    width: 100%;
    min-height: 455px;
  }
  .catalog-item__title--video {
    order: 0;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 105px;
    border: none;
  }
  .catalog-item__info--video {
    width: 100%;
    border-top: none;
    padding: 0 42px;
  }
  .catalog-item__description--narrow {
    margin: 0;
    margin-left: -2px;
    padding-right: 0;
    margin-bottom: 10px;
  }
  .catalog-item__button {
    width: 100%;
    margin-left: 0;
    margin-bottom: 45px;
  }

} // ends tablet styles

@media (min-width: 1150px) {

  .catalog-item {
    width: 316px;
    position: relative;
    display: flex;
    flex-direction: column;
  }


  .catalog-item__image {
    margin: 0;
    width: 316px;
    height: 462px;
  }
  .catalog-item__info {
    display: block;
    flex-grow: 4;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 85px;
  }
  .catalog-item__title {
    padding-right: 20px;
    padding-bottom: 5px;
  }
  .catalog-item__wrapper {
    position: absolute;
    display: block;
    width: 256px;
    bottom: 25px;
  }


  .catalog-item--production-video {
    display: block;
    margin-top: 60px;
    margin-bottom: 105px;
    padding: 0;
    width: 100%;
    @include clearfix;
  }


  .catalog-item__video {
    width: 680px;
    padding: 0;
    margin: 0;
    float: left;
    background: none;
  }
  .catalog-item__video-screen {
    background: url("../img/video-mobile@1x.jpg") no-repeat 50% 50%;
    background-size: cover;
    width: 100%;
    height: 453px;
  }


  .catalog-item__title--video {
    float: right;
    box-sizing: border-box;
    width: 370px;
    padding-top: 92px;
    padding-left: 80px;
    padding-right: 134px;
    padding-bottom: 0;
    margin-bottom: 34px;
    border-bottom: none;
  }
  .catalog-item__info--video {
    float: right;
    box-sizing: border-box;
    width: 370px;
    border-top: none;
    padding-top: 0;
    padding-right: 60px;
    padding-bottom: 0px;
    padding-left: 80px;

  }
  .catalog-item__description--narrow {
    padding: 0;
    margin: 0;
    margin-bottom: 45px;
  }
  .catalog-item__button {
    width: 100%;
    margin: 0;
    margin-bottom: 60px;
  }


} // ends desktop styles
