.catalog-item {
  padding-top: 30px;
}
.catalog-item__image{
  margin-bottom: -3px;
  width: 260px;
  height: 195px;
}
.catalog-item__info {
  border: 1px solid $light-gray;
  padding: 30px;
  margin-top: 0;
}

.catalog-item__title {
  font-family: "Open Sans Bold", "Tahoma", sans-serif;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  padding-bottom: 8px;
}
.catalog-item__description {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: $dark-gray;
  margin: 0;
}
.catalog-item__description--narrow {
  padding-right: 15px;
}

.catalog-item__wrapper {
  border-top: 1px solid $light-gray;
  padding-top: 25px;
  margin-top: 25px;
}
.catalog-item__price {
  font-family: "Open Sans Bold", "Tahoma", sans-serif;
  font-size: 15px;
}
.catalog-item__to-cart-link {
  float: right;
}

.catalog-item__video {
  background: url("../img/video-mobile@1x.jpg") no-repeat 50% 50%;
  background-size: cover;
  margin-bottom: -3px;
}
.catalog-item__title--video {
  padding: 30px 0;
  padding-left: 90px;
  border: 1px solid $light-gray;
}

@media (min-width: 768px) {

  .catalog-item__title {
    font-size: 20px;
    line-height: 24px;
  }
  .catalog-item__description {
    font-size: 15px;
    line-height: 30px;
  }
  .catalog-item__price {
    font-size: 17px;
    line-height: 24px;
  }

}

@media (min-width: 768px) and (max-width: 1149px) {

  .catalog-item {
    display: flex;
    flex-flow: row;
    align-items: stretch;
    padding-top: 50px;
  }


  .catalog-item__image {
    margin: 0;
    width: 334px;
    min-height: 334px;
  }
  .catalog-item__info {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 334px;
  }
  .catalog-item__wrapper {
    margin-top: auto;
  }


  .catalog-item--production-video {
    flex-direction: column;
    margin-bottom: 65px;
  }
  .catalog-item__video {
    order: -1;
    width: 100%;
    min-height: 455px;
    margin: 0;
  }
  .catalog-item__title--video {
    order: 0;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 107px;
    border-bottom: none;
    border-top: none;
  }
  .catalog-item__info--video {
    width: 100%;
    border-top: none;
    padding: 0 42px;
  }
}

@media (min-width: 1150px) {

  .catalog-item {
    width: 316px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .catalog-item__image {
    margin: 0;
    width: 316px;
    height: 462px;
  }
  .catalog-item__info {
    display: block;
    flex-grow: 4;
    padding-bottom: 80px;
  }
  .catalog-item__title {
    padding-right: 15px;
    padding-bottom: 5px;
  }
  .catalog-item__wrapper {
    position: absolute;
    display: block;
    width: 256px;
    bottom: 25px;
  }

    .catalog-item--production-video {
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 65px;
      padding: 0;
      width: 100%;
    }
    .catalog-item__video {
      order: -1;
      width: 682px;
      min-height: 455px;
      padding: 0;
      margin: 0;
      flex-shrink: 0;
    }
    .catalog-item__title--video {
      order: 0;
      padding: 0;
      margin: 0;
      //padding-top: 40px;
      //padding-bottom: 30px;
      //padding-left: 107px;
      border-right: none;
      border-left: none;
    }
    .catalog-item__info--video {
      width: 100%;
      border-left: none;
      margin: 0;
      padding: 0;
      //padding: 0 42px;
    }
    .catalog-item__description--narrow {
      padding: 0;
      min-width: 250px
    }


}
