.contacts {
  @include width-container;
}


.contacts__title {
  font-size: 18px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 30px;
}
.contacts__button {
  margin-top: 38px;
  margin-bottom: 40px;
  margin-left: 30px;
  width: 260px;
}
.contacts__map {
  height: 457px;
  width: 320px;
  background: url("../img/map-mobile@1x.jpg") no-repeat;
  background-size: cover;
}


.contacts__table {
  display: table;
  list-style: none;
  padding: 0;
  text-align: left;
  font-size: 15px;
  line-height: 30px;
  color: $dark-gray;
  margin-bottom: 26px;
  margin-left: 30px;
}
.contacts__table-row {
  display: table-row;
}
.contacts__table-cell {
  display: table-cell;
  padding: 13px 0;
  text-decoration: none;
  &:link, :visited {
    color: $dark-gray;
  }
}
.contacts__table-cell--adress {
  padding-right: 50px;
}
.contacts__table-cell--email {
  &:hover {
    color: $cyan;
  }
  &:active {
    color: $light-cyan;
  }
}
.contacts__table-cell--email span {
  display: inline-block;
  border-bottom: 1px solid $cyan;

  &:hover {
    border-color: #46c1ae;
  }
  &:active {
    border-color: $light-cyan;
  }
}
.contacts__table-cell:first-of-type {
  width: 70px;
}
.contacts__table-cell a {
  color: black;
}

@media (min-width: 768px) {

  .contacts {
    position: relative;
    width: 768px;
    padding: 0;
    padding-top: 85px;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 55px;
  }


  .contacts::before{
    position: absolute;
    content: "";
    top: 62px;
    right: 48px;
    height: 80px;
    width: 50px;
    background: url("../img/icon-flag.svg") no-repeat;
  }
  .contacts__title {
    position: relative;
    margin: 0;
    margin-left: 50px;
    margin-right: 130px;
    margin-bottom: 48px;
    font-size: 43px;
    text-align: left;
  }
  .contacts__table {
    margin-top: 0px;
    margin-bottom: 40px;
  }
  .contacts__map {
    height: 457px;
    width: 768px;
    margin-bottom: 58px;
  }
  .contacts__button {
    margin: 0 auto;
    width: 228px;
  }

}

  @media (min-width: 768px) and (max-width: 1149px) {

    .contacts__table-row:nth-of-type(1){
      float: left;
      margin-left: 20px;
      padding-right: 20px;
      margin-right: 30px;
    }
    .contacts__table-row:nth-of-type(2){
      float: right;
    }
    .contacts__table-cell {
      width: 200px;
      font-size: 17px;
      line-height: 30px;
    }
    .contacts__table-cell:first-of-type {
      width: 80px;
    }
    .contacts__table-cell--adress {
      width: 250px;
    }
} //ends tablet styles

@media (min-width: 1150px) {

  .contacts {
    display: flex;
    flex-direction: column;

    text-align: left;
    min-height: 457px;
    width: 1150px;
    padding-right: 600px;
    padding-left: 225px;
    margin-bottom: 105px;
  }

  .contacts__title {
    margin-left: -2px;
    margin-bottom: 62px;
    font-size: 53px;
  }
  .contacts::before {
    left: 113px;
  }
  .contacts__map {
    position: absolute;
    top: 0px;
    right: 50px;
    width: 525px;
    height: 100%;
  }
  .contacts__button {
    margin: 0;
    margin-top: auto;
    width: 230px;
  }


  .contacts__table {
    margin: 0;
    font-size: 17px;
    line-height: 30px;
  }
  .contacts__table-cell {
    padding: 0px;
  }
  .contacts__table-cell:first-of-type {
    width: 120px;
    padding-right: 20px;
  }
  .contacts__table-cell--adress {
    width: 380px;
    padding-top: 30px;
    padding-right: 0;
  }


} // ends desktop styles
