.feedback {
  @include width-container;

  position: relative;

  padding: 0 30px;
}


.feedback__title {
  margin-top: 58px;
  margin-bottom: 25px;
}
.feedback__description {
  margin-bottom: 5px;

  font-size: 15px;
  line-height: 30px;
  color: $dark-gray;
}
.feedback__customer-name {
  display: inline-block;

  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  vertical-align: middle;
}
.feedback__customer-profile {
  font-weight: normal;
  color: $dark-gray;
}
.feedback__nav-buttons {
  margin: 15px 0 26px 0;

  text-align: left;
}
.feedback__nav-button {
  width: 50%;
  padding: 10px;

  border: 1px solid $light-gray;

  &:hover polygon {
    fill: $hover-black;
  }
  &:active polygon {
    fill: $active-black;
  }
}
.feedback__nav-button--right {
  float: right;
  width: 50%;

  border-left: none;
}
.feedback__button {
  margin-top: 10px;
  margin-bottom: 88px;
}


@media (min-width: 768px) {

  .feedback {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    width: 768px;
    min-height: 457px;
    margin-bottom: 68px;
    padding: 50px;

    background-color: $light-gray;
    background: url("../img/review@1x.jpg") no-repeat 0% 0%;
    background-position: 2px;
    background-size: 350px 455px;
  }
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .feedback {
      background-image: url("../img/review@2x.jpg");
    }
  }


  .feedback__title {
    margin-top: 40px;
    margin-bottom: 48px;
    margin-left: -2px;
    order: 1;
  }
  .feedback__description {
    margin: 0;
    margin-bottom: 55px;
    order: 3;

    font-size: 17px;
    line-height: 30px;
  }
  .feedback__customer-name {
    margin: 0;
    order: 4;

    font-size: 17px;
  }
  .feedback__customer-profile {
    order: 5;

    font-size: 17px;
  }


  .feedback__form {
    width: 175px;
    height: 52px;
    margin: 0;
    margin-top: -5px;
    margin-bottom: 23px;
    margin-left: auto;
    order: 2;
  }
  .feedback__button {
    width: 100%;
    height: 100%;
  }
  .feedback__nav-buttons {
    align-self: flex-end;
    margin: 0;
    margin-top: 8px;
    margin-right: 8px;
    margin-left: auto;
    order: 6;
  }
  .feedback__nav-button {
    padding-left: 25px;

    border: none;
  }

} //ends tablet styles

@media (min-width: 1150px) {

  .feedback {
    width: 1150px;
    min-height: 475px;
    margin-bottom: 160px;
    padding-left: 225px;

    background-position-x: 50px;
    background-position-y: 20px;
  }
  .feedback__form {
    margin-top: 0;
    margin-right: -2px;
  }
  .feedback__description {
    margin-bottom: 35px;
    padding-right: 100px;

    letter-spacing: 0;
  }

  @-moz-document url-prefix() { //fixes wrong typography in firefox
    .feedback__description {
      margin-top: -1px;
      margin-bottom: 40px;

      line-height: 29px;
      letter-spacing: 0.1px;
    }
  }
  .feedback__indent {
    letter-spacing: 5px;
  }

} //ends display styles
