.feedback {
  @include width-container;
  padding: 0 30px;
  text-align: left;
}
.feedback__title {
  margin-top: 38px;
}
.feedback__description {
  font-size: 15px;
  line-height: 30px;
  color: $dark-gray;
  margin-bottom: 25px;
}
.feedback__customer-name {
  display: inline-block;
  font-family: "Open Sans Bold", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 6px;
}
.feedback__customer-profile {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: $dark-gray;
}
.feedback__nav-buttons {
  text-align: left;
  margin: 30px 0;
}
.feedback__nav-button {
  width: 50%;
  padding: 10px;
  border: 1px solid $light-gray;
}
.feedback__nav-button--right {
  width: 50%;
  float: right;
  border-left: none;
}
.feedback__button {
  margin-top: 10px;
  font-size: 17px;
}

@media (min-width: 768px) {

  .feedback {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;

    width: 768px;
    padding: 50px;
    margin-bottom: 68px;
    min-height: 457px;
    background-color: $light-gray;
    background: url("../img/review@1x.jpg") no-repeat 0% 0%;
  }


  .feedback__title {
    order: 1;
    font-size: 43px;
    margin: 40px 0;
  }
  .feedback__description {
    order: 3;
    font-size: 17px;
    line-height: 30px;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 50px;
  }
  .feedback__customer-name {
    order: 4;
    font-size: 17px;
    margin: 0;
  }
  .feedback__customer-profile {
    order: 5;
    font-size: 17px;
  }


  .feedback__button {
    order: 2;
    width: auto;
    min-width: 175px;
    height: 50px;
    margin: 0;
    margin-left: auto;
  }
  .feedback__nav-buttons {
    order: 6;
    margin: 0;
    margin-left: auto;
  }
  .feedback__nav-button {
    border: none;
  }

} //ends tablet styles

@media (min-width: 1150px) {

  .feedback {
    width: 1150px;
    padding-left: 225px;
    background-position-x: 50px;
  }
  .feedback__title {
    font-size: 53px;
  }

} //ends display styles
