.form__fieldset {
  font-weight: bold;
  font-size: 17px;
  border: none;
  border-top: 1px solid $cyan;
  text-align: left;
  padding: 0;
  margin: 0;
  padding-top: 40px;
}
.form__fieldset--narrow {
  padding-top: 25px;
}
.form__fieldset--single-field {
  padding-top: 14px;
}


.form__legend {
  color: $cyan;
  text-transform: uppercase;
  padding-right: 22px;
}
.form__notice {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  color: $dark-gray;
  margin-top: 17px;
}
.form__button {
  margin-top: 32px;
  margin-bottom: 55px;
}


.form__checkbox,
.form__radio {
  position: absolute;
  opacity: 0;
}
.form__text-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 10px 10px 0;
  margin-bottom: 15px;
  border: none;
  border-bottom: 2px solid $dark-gray;
}
.form__textarea {
  display: block;
  box-sizing: border-box;
  resize: none;
  width: 100%;
  min-height: 134px;
  padding: 16px;
  margin-top: 10px;
  border: 2px solid $dark-gray;
}


.form__checkbox-label {
  display: block;
  padding-left: 60px;
  padding-bottom: 40px;
}
.form__radio-label {
  display: block;
  padding-left: 60px;
  padding-bottom: 30px;
}
.form__text-input-label {
  display: block;
  padding-bottom: 5px;
}

@media (min-width: 768px) {

  .form {
    position: relative;
  }
  .form__fieldset {
    border: none;
    padding-top: 66px;
    padding-right: 50px;
    padding-left: 217px;
  }
  .form__fieldset--gray {
    background-color: $light-gray;
  }
  .form__fieldset--email {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .form__legend {
    position: absolute;
    max-width: 100px;
    left: 52px;
  }
  .form__flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: -6px;
    margin-bottom: 40px;
  }


  .form__button {
    display: block;
    margin-left: 50px;
    width: 230px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .form__notice {
    display: block;
    float: right;
    margin-right: 50px;
    margin-top: 70px;
  }


  .form__text-input {
    width: auto;
    flex-basis: 370px;
    flex-grow: 2;
    font-size: 19px;
  }

  .form__fieldset--single-field .form__text-input {
    width: 100%;
    background-color: $light-gray;
    padding-top: 0;
  }
  .form__textarea {
    margin: 0;
    font-size: 19px;
  }


  .form__checkbox-label {
    display: inline-block;
    margin: 0;
    width: 180px;
    padding-bottom: 60px;
    font-size: 19px;
  }
  .form__radio-label {
    padding-bottom: 57px;
    font-size: 19px;
  }
  .form__text-input-label {
    margin-right: 26px;
    font-size: 19px;
  }

} // ends tablet styles

@media (min-width: 1150px) {

  .form__fieldset {
    padding-left: 225px;
  }
  .form__fieldset--narrow {
    padding-right: 225px;
  }
  .form__fieldset--single-field {
    padding-right: 225px;
  }


  .form__text-input {
    flex-basis: 570px;
  }
  .form__button {
    margin-left: 225px;
  }
  .form__notice {
    margin-right: 225px;
  }

} // ends desktop styles
