.form__fieldset {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 25px;

  font-size: 17px;
  font-weight: bold;
  text-align: left;

  border: none;
  border-top: 1px solid $cyan;
}
.form__fieldset--narrow {
  padding-top: 25px;
}
.form__fieldset--single-field {
  margin-top: -18px;
  padding-top: 14px;
}
.form__fieldset--textarea {
  padding-bottom: 14px;
}


.form__legend {
  padding-right: 20px;

  text-transform: uppercase;
  color: $cyan;
}
.form__notice {
  display: inline-block;


  font-size: 14px;
  line-height: 16px;
  vertical-align: middle;
  color: $dark-gray;
}
.form__button {
  margin-top: 30px;
  margin-bottom: 55px;
}

.form input {
  outline: none;
}
.form__checkbox,
.form__radio {
  position: absolute;

  opacity: 0;
}
.form__text-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 23px;
  padding: 8px 10px 11px 0;

  line-height: 23px;
  color: $dark-gray;

  border: none;
  border-bottom: 2px solid $dark-gray;
  border-radius: 0;
}
.form__text-input--tel {
  padding-top: 5px;
  padding-bottom: 15px;

  background: url("../img/icon-phone.svg") no-repeat 96% 0%;
  background-size: 25px 25px;
}
.form__text-input--email {
  padding-top: 5px;
  padding-bottom: 13px;

  background: url("../img/icon-mail.svg") no-repeat 97% 0%;
  background-size: 30px 35px;
}
.form__textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 142px;
  margin-top: 11px;
  padding: 12px 16px;

  color: $dark-gray;

  border: 2px solid $dark-gray;
  border-radius: 0;

  resize: none;
}
.form__textarea::placeholder,
.form__text-input::placeholder {
  font-family: "Open Sans", "Tahoma", sans-serif;
  color: $dark-gray;

  opacity: 0.3;
}

.form__radio-label {
  position: relative;

  display: block;
  padding-top: 22px;
  padding-bottom: 8px;
  padding-left: 62px;

  line-height: 19px;

  user-select: none;
}
.form__checkbox-label {
  position: relative;

  display: block;
  padding-top: 24px;
  padding-bottom: 18px;
  padding-left: 62px;

  line-height: 19px;

  user-select: none;
}
.form__text-input-label {
  display: block;
  padding-bottom: 5px;

  line-height: 19px;
}


.form__radio-label::before {
  @include form-element(10px, 0px);

  border-radius: 50%;
}
.form__radio:checked + .form__radio-label::before {
  background-color: $cyan;
  box-shadow: inset 0 0 0 10px white;
}
.form__checkbox-label::before {
  @include form-element(14px, 0px);
}
.form__checkbox:checked + .form__checkbox-label::after {
  position: absolute;
  top: 20px;
  left: 10px;

  display: block;
  width: 22px;
  height: 24px;

  background: url("../img/icon-tick.svg") no-repeat 50% 50%;
  border: none;

  content: "";
}


.form__radio-label:hover.form__radio-label::before,
.form__checkbox-label:hover.form__checkbox-label::before {
  border-color: $cyan;
}
.form__radio-label:active.form__radio-label::before,
.form__checkbox-label:active.form__checkbox-label::before {
  border-color: $hover-gray;
}
.form__radio:disabled + .form__radio-label::before,
.form__checkbox:disabled + .form__checkbox-label::before,
.form__radio:disabled + .form__radio-label,
.form__checkbox:disabled + .form__checkbox-label {
  color: $hover-gray;

  border-color: $hover-gray;
}
.form__text-input {

  &:hover {
    color: $hover-gray;

    border-bottom-color: $cyan;
  }
  &:focus {
    color: $dark-gray;

    border-bottom-color: $cyan;
  }
  &:disabled {
    background-color: $light-gray;
    border: none;
  }
}
.form__textarea {

  &:hover:not(:disabled) {
    color: $hover-gray;

    border-color: $cyan;
  }
  &:focus {
    color: $dark-gray;

    border-color: $cyan;
    outline: none;
  }
  &:disabled {
    background-color: $light-gray;
  }
}
.form__text-input--tel {

  &:hover:not(:disabled) {
    background-image: url("../img/icon-phone--cyan.svg");
  }
  &:focus:not(:disabled) {
    background-image: url("../img/icon-phone--cyan.svg");
  }
}
.form__text-input--email {

  &:hover:not(:disabled) {
    background-image: url("../img/icon-mail--cyan.svg");
  }
  &:focus:not(:disabled) {
    background-image: url("../img/icon-mail--cyan.svg");
  }
}

@media (min-width: 768px) {

  .form__fieldset {
    position: relative;

    padding-top: 46px;
    padding-right: 50px;
    padding-bottom: 37px;
    padding-left: 217px;

    border: none;
  }
  .form__fieldset--gray {
    padding-bottom: 27px;

    background-color: $light-gray;
  }
  .form__fieldset--email {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .form__fieldset--narrow {
    margin-top: 20px;
    padding-top: 32px;
    padding-bottom: 24px;
  }
  .form__fieldset--single-field {
    margin-top: 0;
    padding-top: 65px;
    padding-bottom: 11px;
  }
  .form__fieldset--email {
    padding-top: 2px;
    padding-bottom: 25px;
  }
  .form__fieldset--textarea {
    padding-top: 50px;
  }
  .form__fieldset--textarea .form__legend {
    margin-top: 18px;
  }
  .form__fieldset--narrow .form__legend {
    margin-top: 12px;
  }


  .form__flex-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
  }
  .form__flex-wrapper--narrow {
    flex-direction: column;
  }
  .form__legend {
    float: left;
    max-width: 100px;
    margin-left: -165px;
  }
  .form__legend--radio,
  .form__legend--checkbox {
    margin-top: 20px;
  }
  .form__notice {
    font-size: 17px;
  }


  .form__button {
    display: block;
    width: 230px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
  }
  .form__notice {
    display: block;
    float: right;
    margin-top: 56px;
    margin-right: 50px;

    line-height: 17px;
  }


  .form__text-input {
    flex-basis: 370px;
    flex-grow: 2;
    width: auto;
    margin-bottom: 25px;
    padding-top: 12px;
    padding-bottom: 15px;
    padding-left: 18px;

    font-size: 19px;
    line-height: 22px;
  }
  .form__text-input--tel {
    padding-top: 6px;

    letter-spacing: -0.2px;

    background-position: 95% -10%;
  }
  .form__text-input--email {
    background-position: 95% -40%;
  }
  .form__textarea {
    margin: 0;
    padding-top: 10px;

    font-size: 19px;
  }
  .form__fieldset--single-field .form__text-input {
    width: 100%;
    padding-top: 0;

    background-color: $light-gray;

    &:disabled {
      background-color: $hover-gray;
    }
  }


  .form__radio-label {
    align-self: flex-start;
    margin-bottom:10px;
    padding-bottom: 20px;
    padding-left: 80px;

    font-size: 19px;
    line-height: 21px;
  }
  .form__checkbox-label {
    align-self: flex-start;
    width: 140px;
    margin-bottom: 18px;
    padding-top: 18px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 80px;

    font-size: 19px;
    line-height: 21px;
  }
  .form__text-input-label {
    margin-right: 26px;

    font-size: 19px;
    line-height: 19px;
  }
  .form__button {
    margin-top: 42px;
  }


  .form__radio-label::before {
    top: 5px;

    width: 48px;
    height: 48px;
  }
  .form__radio:checked + .form__radio-label::before {
    box-shadow: inset 0 0 0 13px white;
  }
  .form__checkbox-label::before {
    top: 2px;

    width: 52px;
    height: 48px;
  }
  .form__checkbox:checked + .form__checkbox-label::after {
    top: 14px;
    left: 10px;

    width: 35px;
    height: 35px;
  }

  @media (max-width: 1149px) {
    .form__checkbox-label:nth-of-type(2n - 1) {
      margin-right: 20px;
    }
  }

} // ends tablet styles

@media (min-width: 1150px) {

  .form__fieldset {
    padding-left: 225px;
  }
  .form__fieldset--narrow {
    padding-right: 225px;
  }
  .form__fieldset--single-field {
    padding-right: 225px;
  }
  .form__fieldset--textarea {
    padding-bottom: 5px;
  }


  .form__text-input {
    flex-basis: 570px;
  }
  .form__text-input--tel {
    background-position: 99% -10%;
  }
  .form__text-input--email {
    background-position: 99% -5px;
  }
  .form__button {
    margin-left: 225px;
  }
  .form__notice {
    margin-right: 225px;
  }
  .form__legend {
    margin-left: -110px;
  }


  .form__checkbox-label {
    margin-right: 23px;
  }


  .form__button {
    margin-top: 40px;
  }
  .form__notice {
    margin-top: 55px;
  }

} // ends desktop styles
