.page-header {
  @include width-container;

  position: relative;

  text-align: left;
}


.page-header__main-header {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0 30px;
  padding-top: 70px;
  padding-bottom: 77px;

  font-size: 27px;
  line-height: 29.3px;
  font-weight: bold;
  text-align: center;

  background-color: $light-gray;
}
.page-header__main-header--index {
  width: 320px;
  min-height: 280px;
  padding-top: 70px;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 180%;
  background-position: 50% 20%;
  overflow: hidden;
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-header__main-header--index {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}
.page-header__nav-button {
  position: absolute;
  top: 32px;
  right: 30px;

  width: 20px;
  height: 20px;

  font-size: 0px;

  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;

  transition: color 0.2s ease-in-out;
}


.page-header__button {
  position: relative;

  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 27px 160px 28px 30px;

  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
  text-align: left;
  color: white;

  background-color: #63d1bb;
  border: none;

  &:hover {
    margin-bottom: -5px;
    padding-bottom: 33px;
    transform: translateY(-5px);
  }
  &:active {
    margin-bottom: 0px;
    padding-bottom: 28px;
    transform: translateY(0);

    color: #8be1d0;
  }
}
.page-header__button--right {
  background-color: #56c3b2;

  &:active {
    color: #7dd3c6;
  }
}
.page-header__button::after {
  position: absolute;
  top: 25px;
  right: 24px;

  width: 60px;
  height: 62px;

  background: url("../img/icon-interior.svg") no-repeat 50% 50%;
  opacity: 0.8;

  content: "";
}
.page-header__button--right::after {
  top: 20px;
  right: 27px;

  background-image: url("../img/icon-toy.svg");
}
.page-header__button:hover.page-header__button::after {
  opacity: 1;
}
.page-header__button:active.page-header__button::after {
  opacity: 0.5;
}

@media (min-width: 768px) {

  .page-header {
    width: 768px;
  }
  .page-header:after {
    @include zigzag;

    bottom: -12px;

    height: 22px;
    transform: none;
    z-index: 0;

    background-image: url("../img/bg-zigzag-fill.svg");
  }


  .page-header__main-header {
    margin-top: -60px;
    padding: 160px 130px 0px 130px;

    font-size: 43px;
    line-height: 48px;
  }
  .page-header__main-header--index {
    width: 100%;
    min-height: 627px;

    background-size: 150%;
    background-position: 50% 0%;
  }
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .page-header__main-header--index {
      background-image: url("../img/hero-mobile@2x.jpg");
    }
  }
  .page-header__main-header--form {
    padding-top: 95px;
    padding-bottom: 90px;
  }
  .page-header__main-header--catalog {
    margin-bottom: 80px;
    padding-top: 100px;
    padding-bottom: 78px;
    padding-left: 140px;
  }


  .page-header__catalog-list {
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    width: 100%;
    padding: 0 50px;

    background-color: #f8f8f8;
  }
    .page-header__button {
    position: relative;

    padding: 30px 160px 30px 35px;

    font-size: 20px;
    line-height: 30px;

    &:hover {
      padding-bottom: 35px;
    }
    &:active {
      padding-bottom: 30px;
    }
  }
  .page-header__button::after {
    top: 30px;
    right: 24px;
  }
  .page-header__button--right::after {
    right: 35px;
  }

} //ends tablet styles

@media (min-width: 1150px) {

  .page-header {
    width: 1150px;
    margin-bottom: 60px;
  }
  .page-header:after {
    bottom: -17px;

    height: 32px;
  }
  .page-header__main-header--index {
    width: 100%;
    min-height: 627px;
    padding-top: 158px;
    padding-right: 250px;
    padding-left: 250px;

    font-size: 53px;
    line-height: 57px;

    background-image: url("../img/hero-desktop@1x.jpg");
    background-size: 100%;
    background-position: 50% 0%;
  }
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .page-header__main-header--index {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }
  .page-header__main-header--form {
    padding-top: 100px;
    padding-bottom: 100px;

    font-size: 53px;
    line-height: 57px;
  }
  .page-header__main-header--catalog {
    margin-bottom: 80px;
    padding-top: 98px;
    padding-bottom: 101px;
    padding-left: 130px;

    font-size: 53px;
    line-height: 57px;
  }
  .page-header__button {
    padding-right: 350px;
    padding-left: 40px;
  }

} //ends desktop styles
