.page-footer {
  @include width-container;

  display: flex;
  flex-flow: row wrap;

  background-color: $light-gray;
}
.page-footer__social {
  width: 100%;
  margin: 0;

  border-bottom: 1px solid #e5e5e5;
}
.page-footer__html-academy {
  display: table;
  max-width: 320px;
  margin-left: 70px;
  padding: 12px 0;

  text-decoration: none;

  user-select: none;

  &:link, &:visited {
    color: black;
  }
}
.page-footer__html-academy-title {
  display: table-cell;

  font-size: 19px;
  font-weight: bold;
  vertical-align: middle;
}
.page-footer__html-academy-logo {
  display: table-cell;
  width: 40px;
  height: 50px;
  margin-left: 20px;

  vertical-align: middle;
}
.page-footer__html-academy:hover .page-footer__logo-path {
  fill: #46c1ae;
}
.page-footer__html-academy:active .page-footer__logo-path {
  fill: #bde2dd;
}
.page-footer__html-academy:active .page-footer__html-academy-title {
  color: $active-black
}
.page-footer__logo {
  display: none;
}

@media (min-width: 768px) {

  .page-footer {
    position: relative;

    width: 768px;
    padding: 31px 50px;

    text-align: center;
  }


  .page-footer__logo {
    position: absolute;
    top: 50px;
    left: 50px;

    display: block;
    width: 100px;
    height: 35px;
    background: url("../img/logo-footer.svg") no-repeat 50% 50%;

    &:hover {
      background-image: url("../img/logo-footer--cyan.svg");
    }
    &:active {
      opacity: 0.5;
    }
  }
  .page-footer__html-academy {
    position: absolute;
    top: 48px;
    right: 45px;

    padding: 0;
    margin: 0;
  }
  .page-footer__social {
    border: none;
  }
}

@media (min-width: 1150px) {

  .page-footer {
    width: 1150px;
  }
  .page-footer__html-academy {
    top: 45px;
    right: 45px;
  }
  .page-footer .page-footer__social {
    margin: 0 200px;
  }
}
