.page-catalog {
  @include width-container;

  margin-bottom: 54px;
  padding: 0 30px;
}
.page-catalog__header {
  @include visuallyhidden;
}

@media (min-width: 768px) {

  .page-catalog {
    width: 768px;
    margin-bottom: 55px;
    padding: 0 50px;
  }

}

@media (min-width: 1150px) {

  .page-catalog {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 1150px;
    margin-bottom: 0;
  }

}
