.title {
  margin: 35px 0;

  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  color: black;
}

@media (min-width: 768px) {

  .title {
    font-size: 43px;
    line-height: 48px;
  }

}

@media (min-width: 1150px) {

  .title {
    margin-left: -4px;

    font-size: 53px;
    line-height: 57px;
    letter-spacing: -0.3px;
  }

}
